* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    color: #325050;
    background: #fff;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 70%;
}

header {
	min-height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("files/contours.png"), url("files/gridlines.png"), url("files/header-background.jpg");
	background-repeat: repeat, repeat, no-repeat;
	background-size: auto, auto, cover;
	background-position: bottom;
	background-attachment: fixed;
}

.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
	margin: 30px;
}

.header-logo {
	width: 200px;
	height: 200px;
	opacity: 0.7;
}

.headline-wrapper {
	margin-left: 32px;
}

main {
	display: flex;
}

.main-content {
	width: 70%;
}

.white-section {
	padding-top: 16px;
	padding-bottom: 16px;
}

.green-section {
	background-color: #c4ddcf;
	padding-top: 16px;
	padding-bottom: 16px;
}

.main-sidebar {
	background-color: #e5ede8;
	width: 30%;
}

.sidebar-content {
	padding-left: 5%;
	padding-right: 5%;
}

.sidebar-image {
	width: 100%;
	height: auto;
	transform-origin: top right;
	filter: grayscale(50%);
}

footer {
	background-color: #2f6461;
	background-image: url("files/contours.png"), url("files/gridlines.png");
	background-repeat: repeat, repeat;
	background-attachment: fixed;
}

.footer-links {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	padding-bottom: 30px;
}

.footer-nav {
	color: #c4ddcf;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: bold;
	font-size: 2em;
	padding: 20px;
	border: solid #c4ddcf;
	border-width: 2px;
	text-decoration: none;
	border-radius: 5px;
	margin-left: 10px;
	margin-right: 10px;
	transition: all 1s;
}

.footer-nav:hover {
	color: white;
	transform: scale(1.05);
	cursor: pointer;
}

h1 {
	color: white;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 5em;
	margin-bottom: 15px;
}

h2 {
	color: white;
	opacity: 0.7;
	font-size: 2.5em;
	font-style: italic;
	margin: 0;
}

h3 {
	font-family: 'Julius Sans One', sans-serif;
	color: #2a5f60;
	font-size: 3.5em;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 15px;
}

.h3-footer {
	color: white;
	padding-top: 40px;
	margin-top: 0px;
}

h4 {
	color: #92BCA2;
	font-size: 2em;
	text-align: center;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 20px;
}

.h4-footer {
	margin-top: 40px;
	margin-bottom: 0px;
	color: white;
}

h5 {
	text-align: center;
	font-size: 1.8em;
}

p {
	font-size: 1.5em;
}

strong {
	font-weight: 900;
	font-variant: small-caps;
	font-size: 1.4em;
}

/*======================= MYCSSZENGARDEN.HTML CONTENT ========================*/

/* MAIN CONTENT CONTENT SECTION */

.main-content-content {
	padding-left: 20%;
	padding-right: 15%;
	padding-bottom: 30px;
}

/* ROBOT FRIEND EXERCISE SECTION */

.robots {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg,
.left_breast,
.right_breast,
.left_nipple,
.right_nipple,
.left_ball,
.right_ball,
.penis {
	 background-color: #2f6461;
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
} 

.eyes {
	display: flex;
}

.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
}

.upper_body { 
	width: 300px; 
	height: 150px;
	margin: 0 auto;
	display: flex;
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
} 

.right_arm { 
	margin-left: 10px; 
} 

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.breast_container {
	width: 200px;
	height: 110px;
	display: flex;
	justify-content: space-around;
}

.left_breast, .right_breast {
	width: 50px;
	height: 50px;
	border-radius: 25px 25px 25px 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 30px;
	transition: all 2s;
}

.left_breast {
	margin-left: 20px;
}

.right_breast {
	margin-right: 20px;
}

.left_nipple, .right_nipple {
	width: 10px;
	height: 10px;
	border-radius: 5px 5px 5px 5px;
}

.breast_container:hover * {
	transform: scale(2);
	border-width: 5px;
	border: solid white;
}

.penis_container {
	position: relative;
	top: 60px;
	width: 200px;
	height: 20px;
	display: flex;
	justify-content: center;
}

.left_ball, .right_ball {
	width: 20px;
	height: 20px;
	transition: all 1.5s;
}

.left_ball {
	border-radius: 10px 0px 10px 10px;
}

.right_ball {
	border-radius: 0px 10px 10px 10px;
}

.penis {
	width: 10px;
	height: 30px;
	border-radius: 0px 0px 5px 5px;
	transition: all 1.5s ease-in;
	transform-origin: top;
}

.penis_container:hover > .penis {
	transform: scale(3) rotate(-150deg);
	background-color: white;
}

.penis_container:hover > .left_ball {
	transform: scale(1.8);
	background-color: white;
}

.penis_container:hover > .right_ball {
	transform: scale(1.8);
	background-color: white;
}

.lower_body { 
	width: 200px; 
	height: 150px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
	display: flex;
} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	margin-left: 45px; 
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg { 
	margin-left: 30px;
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 100px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 120px; 
}

/* FLEXBOX EXERCISE SECTION */

.flexbox-exercise {
	padding-top: 16px;
	padding-bottom: 32px;
}

.flexbox-exercise-image {
	margin: 10px;
	-webkit-filter: grayscale(75%); /* Safari 6.0 - 9.0 */
    filter: grayscale(75%);
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img {
	width: 450px;
	height: 300px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
	-webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
}

/* COLOR UP SECTION */

.color-up {
	background-color: #c4ddcf;
	padding: 16px 0px;
}

.color-palette {
	margin: 10px;
	width: 450px;
	height: 450px;
}

.color-palette:hover {
	transform: none;
}

/* STARTUP LANDING PAGE EXERCISE SECTION */

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 600px;
	background-image: url("files/header-background.jpg");
	background-size: cover;
	margin-top: 50px;
	margin-bottom: 50px;
}

.btn-primary {
	background-color: #2f6461;
	border: none;
	font-family: 'Julius Sans One', sans-serif;
	transition: all 1s;
}

.btn-primary:hover {
	background-color: #487874;
	transform: scale(1.05);
	cursor: pointer;
}

.btn-primary:focus {
	box-shadow: none;
}

#mc-embed-signup input {
	border: none;
}

/* END */






















